<!DOCTYPE html>
<html>
<head>
  <title>GProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
</head>
<body>

<h1><font size="60px", color="white";>Wait.</font>Where the hell are you?</h1>
<%= yield %>

</body>
</html>
